<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="document">
  <select id="list" resultType="com.erp.dto.DocumentDto">
    select * from document
  </select>
  
  <select id="findByCategory" resultType="com.erp.dto.DocumentDto">
    select * from document where category_code = #{categoryCode}
  </select>
  
  
  
  <select id="detail" resultType="com.erp.dto.DocumentDto">
    select * from document where document_no = #{documentNo}
  </select>
  
 <update id="updateDocument" parameterType="com.erp.dto.DocumentDto">
   UPDATE document
SET 
    document_status = #{documentStatus},
    document_updateat = #{documentUpdateAt}
WHERE document_no = #{documentNo}
   
</update>
 
  
  <delete id="delete" parameterType="int">
    delete from document where document_no = #{documentNo}
  </delete>
  
 <insert id="save" parameterType="com.erp.dto.DocumentDto">
  INSERT INTO document (
    document_no,
    document_title,
    document_content,
    document_status,
    document_createBy,
    document_createAt,
    category_code
  ) VALUES (
    document_seq.NEXTVAL,
    #{documentTitle},
    #{documentContent},
    #{documentStatus},
    #{documentCreateBy},
    #{documentCreateAt},
    #{categoryCode}
  )
</insert>
 
 <select id="selectAll" resultType="com.erp.dto.DocumentDto">
    SELECT * FROM document
</select>
 
  
</mapper>
